<!DOCTYPE html>
<html>

<head>
    <title>DEX Monitoring</title>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>

    <style>
        .dataTables_length {
            display: none !important;
        }
    </style>
</head>

<body>
    <h1 style="text-align:center">DEX Monitoring</h1>
    <ul id="newPairsList"></ul>
    <table id="dataTable">
        <thead>
            <tr>
                <th>
                    Age
                </th>
                <th>
                    Coin
                </th>
                <th>
                    Address
                </th>
                <th>
                    Ticker
                </th>
                <th>
                    MC
                </th>
                <th>
                    Liq
                </th>
                <th>
                    Liq MC %
                </th>
                <th>
                    Holders
                </th>
                <th>
                    Init holders
                </th>
                <th>
                    5m
                </th>
                <th>
                    10m
                </th>

                </th>
                <th>
                    20m
                </th>
                <th>
                    30m
                </th>
                <th>
                    1h
                </th>
                <th>
                    4h
                </th>
                <th>
                    12h
                </th>
                <th>
                    24h
                </th>
                <th>
                    Total txs
                </th>
                <th>
                    Init txs
                </th>
                <th>
                    5m
                </th>
                <th>
                    10m
                </th>
                <th>
                    20m
                </th>
                <th>
                    30m
                </th>
                <th>
                    1h
                </th>
                <th>
                    4h
                </th>
                <th>
                    12h
                </th>
                <th>
                    24h
                </th>
            </tr>
        </thead>
    </table>

    <ul id="allPairsList"></ul>

    <script src="../socket.io/socket.io.js"></script>
    <script>
        const socket = io('http://localhost:8080/');
        $.fn.dataTable.ext.errMode = 'none';

        var table = $('#dataTable').DataTable({
            "pageLength": -1
        });
        const newPairsList = document.getElementById('newPairsList');
        const allPairsList = document.getElementById('allPairsList');

        const tableHeader =
            `<tr>
            <th>
                Token Name
            </th>
            <th>
                Token Price
            </th>
            <th>
                Token Symbol
            </th>
            <th>
                Token Holders
            </th>

        </tr>`
        // Listen for incoming new pair events
        socket.on('newPair', (data) => {
            // var table = $('#dataTable').DataTable();

            if (data.data && !$(`#${data.address}`).length) {
                table.row.add(data.data).node().id = `${data.address}`;
                table.draw();
            }
            console.log(data.data, '4344444444444');
        });
        socket.on("updatePair", (data) => {
            console.log(data, '33333333333333333333333333333333');

            $(`#${data.addr}`).children().eq(data.min_index).text(data.min_value)
        })
        // Listen for updated pairs list
        socket.on('pairsList', (data, result) => {
            // var table = $('#dataTable').DataTable();
            console.log(data)
            result = data.pairs;
            var rows = [];
            result.map(row => {
                table.row.add(Object.values(row)[0]).node().id = `${Object.values(row)[0][2]}`
            })
            table.draw();
            // console.log(rows, 3433434);
            // table.rows.add(rows).draw();
            // console.log(result, '4444444444444444444');
            // allPairsList.innerHTML = '';

            // data.pairs.forEach(pair => {
            //     allPairsList.innerHTML += `<li>${pair}</li>`;
            // });
        });
        // $('#dataTable').DataTable();
    </script>
</body>

</html>